body{
	margin: 0px;
}
.block1 {
	background-image: url(https://i.pinimg.com/originals/c3/42/0d/c3420daca693a2634d807dc2e6913620.png);
	color: #ffffff;
	display:block;
	/*padding: 70px;*/
}
.header {
	width: 100%;
	background: rgba(216, 88, 195, 0.6);
	position: fixed;
	/*top: 10px;
	/*left: 10%;*/
	z-index: 1;
}
.logo {
	position: absolute;
	/*top: 10%;*/
	background: url(https://i.pinimg.com/originals/2c/b7/da/2cb7da96f8c887cbaa31b802f5c4c304.png);
	width: 15%;
	height: 100%;
	background-position: 20px -55px;
}
nav {
	text-align: right;	
}
.nav {
	display:inline-block;
	margin: 20px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}
.top1 {
	max-width: 1168px;
	margin: auto;
	text-align: center;
	box-sizing: border-box;
	padding: 50px;
}
.top1 h1 {
	padding: 50px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 65px;
}
.top1 p {
	padding: 0 0 10px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}
button {
  background: rgb(216,88,195);
  padding: 15px 40px;
  color: #ffffff;
  border: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}
.block21 {
	max-width: 1168px;
	margin: auto;
	text-align: center;
	display:block;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
.block2 {
	max-width: 1168px;
	margin: auto;
	padding: 5%;
	text-align: center;
	display:block;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
.content2 {
	height: auto;
	width:33%;
	display:inline-block;
	position: relative;
	box-sizing: border-box;
}
.content2 p {
	vertical-align: bottom;
	padding: 20px;
}
.content2 h3 {
	vertical-align: bottom;
}
.icon1 {
	background: url(https://i.pinimg.com/originals/d4/ec/c5/d4ecc5e8662692959ba2e2e8f7725130.png);
	height: 100px;
	width: 160px;
	position: relative;
	left: 30%;
	/*margin: 50px 0 0 0;*/
}
.icon2 {
	background: url(https://i.pinimg.com/originals/f6/2a/99/f62a99db8cf0aa6ad3a1ab114f086266.png);
	height: 100px;
	width: 160px;
	position: relative;
	left: 30%;
	/*margin: 50px 0 0 0;*/
}
.icon3 {
	background: url(https://i.pinimg.com/originals/d4/ec/c5/d4ecc5e8662692959ba2e2e8f7725130.png);
	height: 100px;
	width: 160px;
	position: relative;
	left: 30%;
	/*margin: 50px 0 0 0;*/
}
.icon4 {
	background: url(https://i.pinimg.com/originals/d4/ec/c5/d4ecc5e8662692959ba2e2e8f7725130.png);
	height: 100px;
	width: 160px;
	position: relative;
	left: 30%;
	/*margin: 50px 0 0 0;*/
}
.icon5 {
	background: url(https://i.pinimg.com/originals/d4/ec/c5/d4ecc5e8662692959ba2e2e8f7725130.png);
	height: 100px;
	width: 160px;
	position: relative;
	left: 30%;
	/*margin: 50px 0 0 0;*/
}
.icon6 {
	background: url(https://i.pinimg.com/originals/d4/ec/c5/d4ecc5e8662692959ba2e2e8f7725130.png);
	height: 100px;
	width: 160px;
	position: relative;
	left: 30%;
	/*margin: 50px 0 0 0;*/
}


.picture1 {
	background: url(https://i.pinimg.com/originals/74/36/e0/7436e01e78a236a16142a4e0ae8d7ba8.png);
	background-position: 300px -10px;
	width: 25%;
	height: 350px;
	display:inline-block;
	margin: -2px;
	border: 1px white solid;
	box-sizing: border-box;
}
.picture2 {
	background: url(https://i.pinimg.com/originals/74/36/e0/7436e01e78a236a16142a4e0ae8d7ba8.png);
	background-position: -145px -500px;
	display:inline-block;
	width: 25%;
	height: 350px;
	margin: -2px;
	border: 1px white solid;
	box-sizing: border-box;
}
.picture3 {
	background: url(https://i.pinimg.com/originals/74/36/e0/7436e01e78a236a16142a4e0ae8d7ba8.png);
	background-position: 200px -530px;
	display:inline-block;
	width: 25%;
	height: 350px;
	margin: -2px;
	border: 1px white solid;
	box-sizing: border-box;
}
.picture4 {
	background: url(https://i.pinimg.com/originals/74/36/e0/7436e01e78a236a16142a4e0ae8d7ba8.png);
	display:inline-block;
	width: 25%;
	height: 350px;
	margin: -2px;
	border: 1px white solid;
	box-sizing: border-box;
}
.picture5 {
	background: url(https://i.pinimg.com/originals/61/01/1c/61011c0cb11419f58a350d6759f7712b.jpg);
	display:inline-block;
	width: 25%;
	height: 350px;
	margin: -2px;
	border: 1px white solid;
	box-sizing: border-box;
}
.picture6 {
	background: url(https://i.pinimg.com/originals/2c/4a/41/2c4a417f828feed862b6afe8123a43e9.jpg);
	background-position: -350px -150px;
	display:inline-block;
	width: 25%;
	height: 350px;
	margin: -2px;
	border: 1px white solid;
	box-sizing: border-box;
}
.picture7 {
	background: url(https://i.pinimg.com/originals/80/a1/bf/80a1bf854a247eda458a252020014b36.png);
	background-position: -190px -170px;
	display:inline-block;
	width: 25%;
	height: 350px;
	margin: -2px;
	border: 1px white solid;
	box-sizing: border-box;
}
.picture8 {
	background: url(https://i.pinimg.com/originals/04/8c/87/048c87f90b04e99e1808906a84fd87c6.jpg);
	background-position: -350px -235px;
	display:inline-block;
	width: 25%;
	height: 350px;
	margin: -2px;
	border: 1px white solid;
	box-sizing: border-box;
	
}
.block3 {
	color: rgba(0, 0, 0, 0);
	font-family: 'Raleway', sans-serif;
}
.block3 p {
	text-align: center;
	display: table-cell;
    vertical-align: middle;
	width: 25%;
	height: 350px;
	margin: -2px;
	border: 1px white solid;
}
.block3 h3 {
	text-align: center;

}
.block3 :hover {
	color: white;
	background-color: rgba(216, 88, 195, 0.6);
}

footer {
	margin: auto;
	text-align: center;
	background: rgba(221, 192, 197, 0.6);
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
.content4 {
	max-width: 1168px;
	margin: auto;
	justify-content: center;
	display: flex;	
	align-items: flex-start;
}
.footer1{
	display:inline-block;
	margin: 20px;
	width: 25%;
	position: relative;
	box-sizing: border-box;
}

.icon_footer {
	background: url(https://i.pinimg.com/originals/d2/e3/a9/d2e3a9ddca7aa45f24f059a67f5bb33c.png);
	height: 50px;
	width: 150px;
	background-position: -60px -55px;
	position: absolute;
	left: 23%;
}
.footer2 {
	background: rgb(216, 88, 195);
	padding: 20px;
}


